name: build

on:
  push:
    branches:
      - main
      - dev*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.2', '3.3', '3.4' ]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Build and test with Rake
      run: bundle exec rake
  build-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake
